<h2>Lighting Calculator</h2>

</div>
<div class="ajax">
   <div class="buttons">
   <p><input id="lights" type="light_field" placeholder="Number of lights"></p>
   <p><input id="hours" type="Hours" placeholder="Hours"></p>
   <button class="submit">Submit</button>
   
     <select id="light" class="selectpicker">
       <option>Current Light</option>
       <option id="hal01">240V 25W Candle Halogen</option>
       <option id="hal02">240V 25W Classic A Halogen</option>
       <option id="hal03">12V 20W MR16 GU5.3 Halogen</option>
       <option id="hal04">240V 40W Classic A Halogen</option>
       <option id="hal05">240V 40W R63 Halogen</option>
       <option id="hal06">240V 25V Candle Halogen</option>
       <option id="hal07">240V 40W Classic A Halogen</option>
       <option id="hal08">12V 20W MR16 GU5.3 Halogen</option>
       <option id="hal09">240V 50W Classic A Halogen</option>
       <option id="hal010">12V 50W MR16 GU5.3 Halogen</option>

     </select>
 
       <select id="led" class="selectpicker">
       <option>New Light</option>
       <option id="led01">240V 4W Candle LED</option>
       <option id="led02">240V 10W Classic A LED</option>
       <option id="led03">240V 6.5W Classic A LED</option>
       <option id="led04">12V 6.5W MR16 GU5.3 LED</option>
       <option id="led05">240V 8W R63 LED</option>
       <option id="led06">240V 8W R63 LED</option>
       <option id="led07">240V 8W PAR16 LED</option>
       <option id="led08">240V 4W PAR16 LED'</option>
       <option id="led09">240V 13.5W PAR30 LED</option>
       <option id="led010">240V 18W PAR38 LED</option>
       <option id="led012">12V 7W MR16 GU5.3 LED</option>
       <option id="led012">12V 18W AR111 LED</option>
       
     </select>
     </div>

   </div>

   </div>
   
 </div>

    
  </div>

   <div class="row">
    <div class="col-md-4">something</div>
    <div class="col-md-4">something</div>
    <div class="col-md-4">API</div>
  </div> 

  </div>